@import "tailwindcss";

@theme {
  /* Your existing variables */
  --color-primary-50: #ecfff9;
  --color-primary-100: #04c18f;
  --color-primary-150: #2fff0029;
  --color-primary-200: #1cb232;
  --color-primary-250: #00b484;
  --color-primary-300: #009276;
  --color-primary-350: #b3ffe7;
  --color-primary-400: #7cffd6;
  --color-primary-450: #013e32;
  --color-primary-500: #008865;
  --color-primary-550: #79e5c9;

  --color-secondary-50: #6d91ff;
  --color-secondary-100: #8124fb;
  --color-secondary-150: #171717;

  --color-orange-50: #fb7554;

  --breakpoint-customSM: 390px;
}

/* Scrollbar Utility for the dashboard */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
